{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{ form_row(form.lastname) }}<br/>
{{ form_row(form.firstname) }}<br/>
{{ form_row(form.phone) }}<br/>
{{ form_row(form.email) }}<br/>
{{ form_row(form.member) }}<br/>
{{ form_row(form.message) }}<br/>
{{ form_row(form.privacyPolicy) }}

<button type="submit" class="btn btn-form">Validez</button>
{{ form_end(form) }}
