{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<h3>Informations concernant votre enfant</h3>
{{ form_row(form.childLastname) }}<br/>
{{ form_row(form.childFirstname) }}<br/>
{{ form_row(form.childBirthday) }}<br/>
{{ form_row(form.childgender) }}<br/>
{{ form_row(form.childAdress) }}<br/>
{{ form_row(form.childPostalCode) }}<br/>
{{ form_row(form.childCity) }}<br/>
{{ form_row(form.courses) }}<br/>
{{ form_row(form.individualTournament) }}<br/>
{{ form_row(form.match) }}<br/><br/>

<h3>Droit à l'image</h3>
{{ form_row(form.image) }}<br/><br/>

<h3>Informations concernant le responsable légal de l'enfant</h3>
{{ form_row(form.parentLastname) }}<br/>
{{ form_row(form.parentFirstname) }}<br/>
{{ form_row(form.phone) }}<br/>
{{ form_row(form.email) }}<br/>

{{ form_row(form.privacyPolicy) }}<br/>


<button type="submit" class="btn btn-form">Validez</button>
{{ form_end(form) }}


