<div class="form-reservation-court">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="inner-wrap">
    {{ form_row(form.lastname) }}<br/>
    {{ form_row(form.firstname) }}<br/>
    {{ form_row(form.phone) }}<br/>
    {{ form_row(form.email) }}<br/>
    </div>

    <div class="inner-wrap">
    {{ form_row(form.date) }}<br/>
    {{ form_row(form.time) }}<br/>
    </div>

    <div class="inner-wrap">
    {{ form_row(form.member) }}<br/>
    {{ form_row(form.message) }}<br/>
    {{ form_row(form.privacyPolicy) }}
    {{ form_row(form.captcha) }}
    </div>

    <button type="submit" class="btn btn-form">Validez</button>
    {{ form_end(form) }}
</div>




