{% extends "base.html.twig" %}

    {% block title %}
        {{ page.title }} - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>{{ page.pageCategory }}</h1>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                <h3>{{ page.title }}</h3>
                <p>{{ page.content | raw }}</p>
                </div>


            <div class="col-lg-3">
                {{ page.pageCategory }}<br/>
                {{ render(controller('App\\Controller\\PageController::getMenuCategory')) }}
            </div>
            </div>
        </div>






    {% endblock %}