{% extends "base.html.twig" %}

    {% block title %}
        {{ page.title }} - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="page-subtitle">
                <h1>{{ page.pageCategory }}</h1>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row page-body">
                <div class="col-lg-9 page-content">
                    <div class="page-title">
                    <h2>{{ page.title }}</h2>
                    </div>

                    <!--Affichage de l'image -->
                    <div class="page-image">
                    {% if vich_uploader_asset(page, 'imageFile') is not null %}
                        <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('image_page') }}"
                             alt="{{ page.image }}">
                    {% endif %}
                    </div>

                    <!-- Affichage du bloc réseaux sociaux -->
                    <div class="page-social-media">{{ render(controller('App\\Controller\\PageController::getUrl',
                            {'page' : page, 'request' : app.request, 'slug' : page.slug })) }}</div>

                    <p>{{ page.content | raw }}</p>


                    <!--Affichage du formulaire Inscription à l'école de tennis si slug = "tarifs-et-inscription" -->
                    {% if page.slug == 'tarifs-et-inscription' %}
                        {{ render(controller('App\\Controller\\PageController::enrolmentTennisSchool',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}

                    <!--Affichage du formulaire Tennis Adulte si slug = "inscription-au-tennis-club" -->
                    {% if page.slug == 'inscription-au-tennis-club' %}
                        {{ render(controller('App\\Controller\\PageController::tennisAdult',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}


                    <!--Affichage du formulaire Contactez-nous si slug = "contact" -->
                    {% if page.slug == 'contact' %}
                        {{ render(controller('App\\Controller\\PageController::contact',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}

                    <!--Affichage du formulaire Réservation d'un court si slug = "reserver-un-court" -->
                    {% if page.slug == 'reserver-un-court' %}
                        {{ render(controller('App\\Controller\\PageController::reservationTennisCourt',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}

                    <br/>

                    <div class="authentify">
                        {% if is_granted('EDIT', page) %}
                            <i class="far fa-edit"></i> <a href="{{ path('easyadmin',{'entity': 'Page', 'id': page.id,
                            'action': 'edit'}) }}">Editer
                            cette page</a>
                        {% endif %}
                    </div>

                </div>


                <div class="col-lg-3">
                    <!--Affichage du menu de la catégorie en cours -->
                    <div class="page-widget">
                    <h3>A lire aussi dans la catégorie "{{ page.pageCategory }}"</h3>

                    {{ render(controller('App\\Controller\\PageController::getMenuCategory',
                        {'pageCategory' : page.pageCategory})) }}

                    <!-- Liens utiles -->
                    {% if (page.slug != 'liens-utiles') %}
                        <div class="page-show blocs-liens-utiles">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-warning"><i class="fas fa-tag"></i><a href="{{ path('page.show', {'slug' :
                                        'liens-utiles'}) }}"> Nos liens utiles</a></li>
                            </ul>
                        </div>

                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
