{% extends "base.html.twig" %}

    {% block title %}
        {{ page.title }} - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="page-subtitle">
                <h1>{{ page.pageCategory }}</h1>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row page-body">
                <div class="col-lg-9 page-content">
                    <div class="page-title">
                    <h2>{{ page.title }}</h2>
                    </div>

                    <!--Affichage de l'image -->
                    <div class="page-image">
                    {% if vich_uploader_asset(page, 'imageFile') is not null %}
                        <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('image_page') }}"
                             alt="{{ page.image }}">
                    {% endif %}
                    </div>

                    <!-- Affichage du bloc réseaux sociaux -->
                    <div class="page-social-media">{{ render(controller('App\\Controller\\PageController::getUrl',
                            {'page' : page, 'request' : app.request, 'slug' : page.slug })) }}</div>

                    <p>{{ page.content | raw }}</p>


                    <!--Affichage du formulaire Inscription à l'école de tennis si slug = "tarifs-et-inscription" -->
                    {% if page.slug == 'tarifs-et-inscription' %}
                        {{ render(controller('App\\Controller\\PageController::enrolmentTennisSchool',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}

                    <!--Affichage du formulaire Tennis Adulte si slug = "inscription-au-tennis-club" -->
                    {% if page.slug == 'inscription-au-tennis-club' %}
                        {{ render(controller('App\\Controller\\PageController::tennisAdult',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}


                    <!--Affichage du formulaire Contactez-nous si slug = "contact" -->
                    {% if page.slug == 'contact' %}
                        {{ render(controller('App\\Controller\\PageController::contact',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}

                    <!--Affichage du formulaire Réservation d'un court si slug = "reserver-un-court" -->
                    {% if page.slug == 'reserver-un-court' %}
                        {{ render(controller('App\\Controller\\PageController::reservationTennisCourt',
                            {'page' : page, 'request' : app.request  }
                        )) }}
                    {% endif %}

                    <br/>

                </div>


                <div class="col-lg-3">
                    <!--Affichage du menu de la catégorie en cours -->
                    <h3>{{ page.pageCategory }}</h3><br/>
                    {{ render(controller('App\\Controller\\PageController::getMenuCategory',
                        {'pageCategory' : page.pageCategory})) }}

                    <br/><br/>
                    <!--Affichage d'un second menu dans la sidebar -->
                    {% if (page.slug == 'liens-utiles' or page.slug == 'reserver-un-court' or page.slug ==
                        'contact') %}
                        <a href="{{ path('page.show', {'slug' : 'presentation-de-lecole-de-tennis'}) }}">Ecole de tennis</a><br/>
                        <a href="{{ path('page.show', {'slug' : 'nos-differentes-offres'}) }}">Tennis Adulte</a><br/>
                        <a href="{{ path('page.show', {'slug' : 'tournois-adultes'}) }}">Compétitions</a><br/>
                    {% else %}
                        <a href="{{ path('page.show', {'slug' : 'reserver-un-court'}) }}">Réservez un court</a><br/>
                        <a href="{{ path('page.show', {'slug' : 'contact'}) }}">Contactez-nous</a><br/>
                        <a href="{{ path('page.show', {'slug' : 'liens-utiles'}) }}">Liens utiles</a>
                    {% endif %}

                    <br/><br/>

                    <a href="{{ path('easyadmin',{'entity': 'Page', 'id': page.id, 'action': 'edit'}) }}">Editer
                        cette page</a>
                </div>
            </div>
        </div>
    {% endblock %}
