{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-success">Validez</button>
    {{ form_end(form) }}

{% endblock %}