{% extends 'base.html.twig' %}

{% block title %}
    Agenda du club - {{ parent() }}
{% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="event-subtitle">
                <h1>Agenda du club</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Evènement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in listEvents %}
                    <tr>
                    <td class="event-date" data-label="date">
                        {% if event.EndEventDate is empty %}
                            Le {{ event.beginningEventDate | date("d/m/Y") }}
                        {% else %}
                            Du {{ event.beginningEventDate | date("d/m/Y") }} au {{ event.endEventDate | date
                            ("d/m/Y") }}
                        {% endif %}
                    </td>
                    <td class="event-name" data-label="event-name">
                        <a href="{{ path('event.show', {'slug' : event.slug}) }}">{{ event.title }}</a>
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if listEvents is empty %}
                    <div class="alert alert-info" role="alert">
                        Aucun évènement n'est communiqué pour le moment. N'hésitez pas à consulter notre agenda ultérieurement.
                    </div>
                {% endif %}
            </div>
        </div>

    {% endblock %}
