{% extends "base.html.twig" %}

    {% block title %}
        Agenda du club - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="event-subtitle">
                <h1>Agenda du club</h1>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row event-body">

                <div class="col-lg-3">
                    <div class="authentify">
                        {% if is_granted('EDIT', event) %}
                        <i class="far fa-edit"></i> <a href="{{ path('easyadmin',{'entity': 'Event', 'id': event.id,
                        'action': 'edit'}) }}">Editer cet évènement</a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-9 event-content">
                    <div class="event-title">
                    <h2>{{ event.title }}</h2>
                    </div>

                    <button type="button" class="btn btn-event-date">
                        {% if event.EndEventDate is empty %}
                            Le {{ event.beginningEventDate | date("d/m/Y") }}
                        {% else %}
                            Du {{ event.beginningEventDate | date("d/m/Y") }}
                            au {{ event.endEventDate | date("d/m/Y") }}
                        {% endif %}
                    </button>

                    <!--Affichage de l'image -->
                    <div class="event-image">
                    {% if vich_uploader_asset(event, 'imageFile') is not null %}
                        <img src="{{ vich_uploader_asset(event, 'imageFile') | imagine_filter('image_event') }}"
                             alt="{{ event.image }}">
                    {% endif %}
                    </div>

                    <div class="page-social-media">{{ render(controller('App\\Controller\\EventController::getUrl',
                            {'event' : event, 'request' : app.request, 'slug' : event.slug })) }}</div>

                    <p>{{ event.content | raw }}</p>


                {{ render(controller('App\\Controller\\EventController::getPreviousAndNextEventLink',
                    {'beginningEventDate' : event.beginningEventDate})) }}
                </div>

            </div>
        </div>

    {% endblock %}