{% extends "base.html.twig" %}

    {% block title %}
        Agenda du club - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Agenda du club</h1>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <a href="{{ path('easyadmin',{'entity': 'Event', 'id': event.id, 'action': 'edit'}) }}">Editer</a>
            </div>

            <div class="row">
                <div class="col-lg-4">

                    {% if event.EndEventDate is empty %}

                        Date de l'évènement<br/>
                        Le {{ event.beginningEventDate | date("d/m/Y") }}

                    {% else %}

                        Du {{ event.beginningEventDate | date("d/m/Y") }}<br/>
                        au {{ event.endEventDate | date("d/m/Y") }}

                    {% endif %}


                    <br/><br/>

                    A partager sur les réseaux sociaux<br/>
                    {{ render(controller('App\\Controller\\EventController::getUrl',
                        {'event' : event, 'request' : app.request, 'slug' : event.slug })) }}
                </div>

                <div class="col-lg-8">
                    <h3>{{ event.title }}</h3>

                    <!--Affichage de l'image -->
                    {% if vich_uploader_asset(event, 'imageFile') is not null %}
                        <img src="{{ vich_uploader_asset(event, 'imageFile') | imagine_filter('image_event') }}"
                             alt="{{ event.image }}">
                    {% endif %}



                    <p>{{ event.content | raw }}</p>
                </div>

                {{ render(controller('App\\Controller\\EventController::getPreviousAndNextEventLink',
                    {'beginningEventDate' : event.beginningEventDate})) }}

                <div class="">
                    <a href="{{ path('event.list') }}">Retour à l'agenda</a>
                </div>

            </div>



        </div>











    {% endblock %}