{% extends 'base.html.twig' %}

    {% block title %}
        Accueil - {{ parent() }}
    {% endblock %}

    {% block body %}

        {# Messages flash #}

        {% for message in app.flashes('alert') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# End Messages flash #}


        <div class="container-fluid">
            <div class="img-homepage">
                <h1>Tennis club</h1><br/>
                <h1 class="second-line-title">de Teyran</h1>
            </div>
        </div>


        <div class="container">

            <div class="row bloc-raccourcis-homepage">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 raccourcis-homepage">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'lecole-de-tennis'}) }}">Ecole de tennis</a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 raccourcis-homepage">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'tennis-adulte'}) }}">Tennis Adulte</a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 raccourcis-homepage">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'competitions'}) }}">Compétitions</a>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-8">

                    <!-- lancement du carrousel -->
                    <div id="carousel" class="carousel slide" data-ride="carousel">

                        <!-- intégrer des boutons d'indication-->
                        <ol class="carousel-indicators">
                            {% for article in listArticles %}
                            <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>

                        <!-- intégration de la boucle for -->
                        <div class="carousel-inner">
                            {% for article in listArticles %}
                                <!-- loop pour afficher carousel active ou non -->
                                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {%
                                    endif %}>
                                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5><a href="{{ path('article.show', {'slug' : article.slug}) }}">{{ article.title }}</a></h5>
                                </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- intégration des boutons précédents et suivants-->
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Prédécent</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>

    {% endblock %}



