{% extends 'base.html.twig' %}

    {% block title %}
        Accueil - {{ parent() }}
    {% endblock %}

    {% block body %}

        {# Messages flash #}

        {% for message in app.flashes('alert') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# End Messages flash #}


        <div class="container-fluid">
            <div class="img-homepage">
                <h1>Tennis club</h1><br/>
                <h1 class="second-line-title">de Teyran</h1>
            </div>
        </div>


        <div class="container">

            <div class="row bloc-raccourcis-homepage">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 raccourcis-homepage">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'lecole-de-tennis'}) }}">Ecole de tennis</a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 raccourcis-homepage">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'tennis-adulte'}) }}">Tennis Adulte</a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 raccourcis-homepage">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'competitions'}) }}">Compétitions</a>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-8">

                    <div id="carousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            {% for article in listArticles %}
                        <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ article.title }}</h5>
                        </div>
                            {% endfor %}
                        </div>

                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Prédécent</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>

    {% endblock %}

    {% block javascripts %}

        <script type="text/javascript">
            $(document).ready(function() {
                $('.carousel').carousel({
                    interval : 3000
                    }
                );
            });
        </script>

    {% endblock %}


