{% extends 'base.html.twig' %}

    {% block title %}
        Accueil - {{ parent() }}
    {% endblock %}

    {% block body %}

        {# Messages flash #}

        {% for message in app.flashes('alert') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# End Messages flash #}

        <!-- Image de Une -->
        <div class="container-fluid">
            <div class="img-homepage">
                <h1>Tennis club de Teyran</h1>
            </div>
        </div>


        <div class="container">

            <!-- trois blocs link -->
            <div class="row bloc-raccourcis-homepage">
                <div class="col-md-4 raccourcis-homepage-item">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'lecole-de-tennis'}) }}"><h2>Ecole de tennis</h2></a>
                </div>
                <div class="col-md-4 raccourcis-homepage-item">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'tennis-adulte'}) }}"><h2>Tennis Adulte</h2></a>
                </div>
                <div class="col-md-4 raccourcis-homepage-item">
                    <a href="{{ path('pageCategory.show', {'slug' :
                        'competitions'}) }}"><h2>Compétitions</h2></a>
                </div>
            </div>


            <div class="row">

                <!-- carrousel -->
                <div class="col-md-8">

                    <!-- lancement du carrousel -->
                    <div id="carousel" class="carousel slide rounded" data-ride="carousel">

                        <!-- intégrer des boutons d'indication-->
                        <ol class="carousel-indicators">
                            {% for article in listArticles %}
                            <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>

                        <!-- intégration de la boucle for -->
                        <div class="carousel-inner">
                            {% for article in listArticles %}
                                <!-- loop pour afficher carousel active ou non -->
                                <div class="carousel-item {{ (loop.index0)? "": "active"}}" data-interval="1000">
                                    <a href="{{ path('article.show', {'slug' : article.slug}) }}"><img src="{{
                                        vich_uploader_asset(article, 'imageFile') }}" ></a>
                                <div class="carousel-caption">
                                <h3><a href="{{ path('article.show', {'slug' : article.slug}) }}">{{ article.title
                                        }}</a></h3>
                                </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- intégration des boutons précédents et suivants-->
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Prédécent</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>

                </div>

                <!-- Agenda -->
                <div class="col-md-4">
                    <div class="widget-agenda">

                    <h4>Agenda</h4>
                        <div class="list-events">
                        {% for event in listEvents %}
                        <i class="fas fa-angle-double-right"></i> <a href="{{ path('event.show', {'slug' : event.slug})
                        }}">{{ event.title }}</a><br/>
                            <div class="events-date">
                            {% if event.EndEventDate is empty %}
                                Le {{ event.beginningEventDate | date("d/m/Y") }}<br/>
                            {% else %}
                                Du {{ event.beginningEventDate | date("d/m/Y") }} au {{ event.endEventDate | date
                                ("d/m/Y") }}<br/>
                            {% endif %}<br/>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <!-- Liens utiles -->
                    <div class="blocs-liens-utiles">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning"><i class="fas fa-tag"></i><a href="{{ path('page.show', {'slug' :
                                'liens-utiles'}) }}"> Nos liens utiles</a></li>
                    </ul>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}



