<!DOCTYPE>
<html lang="fr">
<head>
    <title>Inscription à l'école de tennis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>

<table width="100%" style="margin:2.5rem;">
    <tr>
        <td>
            Nous avons bien reçu votre demande d'inscription. Le Tennis Club de Teyran vous contactera dans les
            plus brefs délais pour la finaliser.<br/><br/>

            Nous vous invitons à nous présenter les deux documents suivants dûment remplis
            lors de la validation de cette inscription au club :<br/>
            <a href="http://www.fft.fr/sites/default/files/pdf/cerfa_15699.do_.pdf">Questionnaire CERFA</a><br/>
            <a href="http://www.fft.fr/sites/default/files/pdf/modele_attestation_mineur.pdf">Attestation
                mineur</a><br/><br/>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Voici les informations que vous avez saisies en ligne :</strong><br/><br/>

            Informations concernant l'enfant à inscrire à l'école de tennis :<br/>
            <strong>Nom :</strong> {{ data.childLastname }}<br/>
            <strong>Prénom :</strong> {{ data.childFirstname }}<br/>
            <strong>Date de naissance :</strong> {{ data.childBirthday | date("d/m/Y") }}<br/>
            <strong>Genre :</strong> {{ data.childgender }}<br/>
            <strong>Adresse postale :</strong> {{ data.childAdress }}<br/>
            <strong>Code postal:</strong> {{ data.childPostalCode }}<br/>
            <strong>Ville :</strong> {{ data.childCity }}<br/><br/>
            <strong>Formules choisies : </strong> {{ data.courses |join(', ') }}<br/>
            <strong>Participation aux tournois indidivuels :</strong> {{ data.individualTournament }}<br/>
            <strong>Participation aux matches par équipe :</strong> {{ data.match }}<br/><br/>
            <strong>Droit à l'image :</strong> {{ data.image }}<br/><br/>

            Informations concernant le(s) responsable(s) de l'enfant :<br/><br/>

            Parent 1<br/>
            <strong>Nom :</strong> {{ data.parentLastname }}<br/>
            <strong>Prénom :</strong> {{ data.parentFirstname }}<br/>
            <strong>Téléphone :</strong> {{ data.phone }}<br/>
            <strong>Email :</strong> {{ data.email }}<br/><br/>

            {% if data.secondParentLastname is not empty %}Parent 2<br/>{% endif %}
            {% if data.secondParentLastname is not empty %}<strong>Nom :</strong> {{ data.secondParentLastname
            }}{% endif %}<br/>
            {% if data.secondParentFirstname is not empty %}<strong>Prénom :</strong> {{ data.secondParentFirstname
            }}{% endif %}<br/>
            {% if data.secondParentPhone is not empty %}<strong>Téléphone :</strong> {{ data.secondParentPhone
            }}{% endif %}<br/>
            {% if data.secondParentEmail is not empty %}<strong>Email :</strong> {{ data.secondParentEmail }}<br/>{% endif
            %}

            <hr/>

            Tennis Club de Teyran - Chemin de Couquerolles - 34820 Teyran<br/>
            Tél. : 04 67 70 16 93 - Mail : tennisclubteyran34@gmail.com
        </td>
    </tr>
</table>

</body>
