<!DOCTYPE>
<html lang="fr">
<head>
    <title>Inscription au Tennis Adulte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>

<table width="100%" style="margin:2.5rem;">
    <tr>
        <td>
            Nous avons bien reçu votre demande d'inscription. Le Tennis Club de Teyran vous contactera dans les
            plus brefs délais pour la finaliser.<br/><br/>

            Nous vous invitons à nous présenter les deux documents suivants dûment remplis
            lors de la validation de votre inscription au club :<br/>
            - <a href="http://www.fft.fr/sites/default/files/pdf/cerfa_15699.do_.pdf">Questionnaire CERFA</a><br/>
            - <a href="http://www.fft.fr/sites/default/files/pdf/modele_attestation_adulte.pdf">Attestation de
                santé</a>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td>
            Voici les informations que vous avez saisies lors de votre demande d'inscription en ligne :<br/><br/>

            <strong>Nom :</strong> {{ data.lastname }}<br/>
            <strong>Prénom :</strong> {{ data.firstname }}<br/>
            <strong>Date de naissance :</strong> {{ data.birthday | date("d/m/Y") }}<br/>
            <strong>Genre :</strong> {{ data.gender }}<br/><br/>

            <strong>Adresse postale :</strong> {{ data.address }}<br/>
            <strong>Code postal:</strong> {{ data.postalCode }}<br/>
            <strong>Ville :</strong> {{ data.city }}<br/>
            <strong>Téléphone : </strong> {{ data.phone }}<br/>
            <strong>Email :</strong> {{ data.email }}<br/><br/>

            Renseignements tennistiques :<br/>
            <strong>Quel est votre niveau au tennis ? :</strong> {{ data.level }}<br/>
            <strong>Etes-vous classé au tennis ? Si oui, indiquez ici votre classement :</strong> {{ data.rank }}<br/><br/>

            <strong>Formule choisie : </strong> {{ data.formule }}<br/><br/>
            <strong>Je souhaite : </strong> {{ data.courses |join(', ') }}<br/><br/>
            <strong>Tournois internes en simple  :</strong> {{ data.tournament }}<br/><br/>
            <strong>Participation aux matches par équipe :</strong> {{ data.match }}<br/><br/>

            <hr/>

            Tennis Club de Teyran - Chemin de Couquerolles - 34820 Teyran<br/>
            Tél. : 04 67 70 16 93 - Mail : tennisclubteyran34@gmail.com
        </td>
    </tr>
</table>

</body>