<!DOCTYPE>
<html lang="fr">
<head>
    <title>Inscription à l'école de tennis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>

<table width="100%" style="margin:2.5rem;">
    <tr>
        <td>
            Voici une nouvelle demande d'inscription à l'école de tennis.<br/><br/>
        </td>
    </tr>
    <tr>
        <td>
            Informations concernant l'enfant à inscrire à l'école de tennis :<br/>
            <strong>Nom :</strong> {{ data.childLastname }}<br/>
            <strong>Prénom :</strong> {{ data.childFirstname }}<br/>
            <strong>Date de naissance :</strong> {{ data.childBirthday | date("d/m/Y") }}<br/>
            <strong>Genre :</strong> {{ data.childgender }}<br/>
            <strong>Adresse postale :</strong> {{ data.childAdress }}<br/>
            <strong>Code postal:</strong> {{ data.childPostalCode }}<br/>
            <strong>Ville :</strong> {{ data.childCity }}<br/><br/>

            <strong>Formules choisies : </strong> {{ data.courses |join(', ') }}<br/>
            <strong>Participation aux tournois indidivuels :</strong> {{ data.individualTournament }}<br/>
            <strong>Participation aux matches par équipe :</strong> {{ data.match }}<br/><br/>

            <strong>Droit à l'image :</strong> {{ data.image }}<br/><br/><br/>

            Informations concernant le(s) responsable(s) de l'enfant :<br/><br/>

            Parent 1<br/>
            <strong>Nom :</strong> {{ data.parentLastname }}<br/>
            <strong>Prénom :</strong> {{ data.parentFirstname }}<br/>
            <strong>Téléphone :</strong> {{ data.phone }}<br/>
            <strong>Email :</strong> {{ data.email }}<br/><br/>

            {% if data.secondParentLastname is not empty %}Parent 2<br/>{% endif %}
            {% if data.secondParentLastname is not empty %}<strong>Nom :</strong> {{ data.secondParentLastname
            }}{% endif %}<br/>
            {% if data.secondParentFirstname is not empty %}<strong>Prénom :</strong> {{ data.secondParentFirstname
            }}{% endif %}<br/>
            {% if data.secondParentPhone is not empty %}<strong>Téléphone :</strong> {{ data.secondParentPhone
            }}{% endif %}<br/>
            {% if data.secondParentEmail is not empty %}<strong>Email :</strong> {{ data.secondParentEmail }}<br/>{% endif
            %}

            <strong>Politique de confidentialité : </strong> {% if data.privacyPolicy == true %}Oui{% endif %}
            {% if data.privacyPolicy == false %}Non{% endif %}<br/><br/>
        </td>
    </tr>
</table>

</body>
</html>